@use 'sass:meta';
@use 'sass:map';
@use 'sass:math';

$font-family: 'Noto Sans KR', -apple-system, Roboto;
$padding: 2rem;
$main-color: #00caca;
:root {
  --font-family: #{meta.inspect($font-family)};
  --main-color: #{$main-color};
  --main-color-rgb: #{hex-to-rgb($main-color)};
  --base-padding: #{$padding};
  --outer-padding: -#{$padding};
  --switch-width: 3.5rem;
  --switch-height: 2rem;
  --switch-padding: 0.3rem;
}

html {
  font-size: 62.5%;
  //이렇게 넣어주면 rem 계산하기 편함 ex) 12px = 1.2rem
}

body {
  font-size: 1.4rem;
  font-family: var(--font-family);
}

.wrap {
  padding: var(--base-padding);
}

.list {
  margin: {
    bottom: 10px;
    //top: 2px;
  }
  padding: 1rem 0;
  background: red;
  @include outer(true);
  li {
    float: left;
    padding: 1rem;
    list-style: none;
    border: 1px solid #000;
    background: #fff;
  }
  &:after {
    @include clearfix;
  }
}

$button-colors: (
  'success': #28a745,
  'info': #17a2b8,
  'warning': #ffc107
);

.button {
  background: none;
  border: 0 none;
  display: inline-block;
  text-align: center;
  color: #000;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
  &.primary {
    background-color: var(--main-color);
    color: #fff;
    &:active {
      //background-color: rgba($main-color, 0.8);
      background-color: rgba(var(--main-color-rgb), 0.3);
    }
    // &:focus {
    //   background-color: lighten($main-color, 10%);
    // }
  }
  @each $color-name, $color-value in $button-colors {
    &.#{$color-name} {
      background-color: $color-value;
      @if ($color-name == 'success' or $color-name == 'info') {
        //스크립트에서 ||쓰는것 처럼 여기선 or / and도 마찬가지
        // @if ($color-name != 'warning') {
        //@if (not($color-name == 'waning')) {
        color: #fff;
      }
      &:active {
        background-color: rgba($color-value, 0.8);
      }
    }
  }

  .btn_wrap & {
    border: 1px solid rgb(1, 125, 1);
  }
  // &.warning {
  //   background-color: map.get($button-colors, 'warning');
  // }
}
.btn_wrap {
  --main-color: red;
  --main-color-rgb: #{hex-to-rgb(red)};
}

.tit-h {
  &1 {
    font-size: 2.4rem;
  }
  &2 {
    font-size: 2rem;
  }
  &3 {
    font-size: 1.8rem;
  }
  &4 {
    font-size: 1.6rem;
  }
}

.item_box {
  margin-top: 1rem;
  .item {
    border: 1px solid yellow;
    padding: 1rem;
    @include unify-parent('div') {
      background-color: blue;
    }
    @include unify-parent('p') {
      background-color: green;
    }
  }
}

%btn {
  background: none;
  border: 0 none;
  display: inline-block;
  text-align: center;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
  &:active {
    opacity: 0.8;
  }
}
.btn-primary {
  @extend %btn;
  background-color: var(--main-color);
}
.btn-secondary {
  @extend %btn;
  background-color: #111;
}
.img-item {
  width: 20rem;
}
.img-box {
  position: relative;
  width: 200px;
  overflow: hidden;
  &:before {
    content: '';
    display: block;
    padding-top: math.div(133, 200) * 100%;
    background: #ddd;
    //padding-top:100%;
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    // object-fit: cover;
  }
}
ul,
ol {
  + ul,
  + ol {
    margin-top: 2rem;
  }
}
:is(ul, ol) {
  + :is(ul, ol) {
    margin-top: 2rem;
  }
}

.ellipsis {
  @include ellipsis;
}
.ellipsis-1 {
  @include ellipsis(1);
}
.ellipsis-2 {
  @include ellipsis(2);
}
.ellipsis-3 {
  @include ellipsis(3);
}

//@each
$btn3-states: (
  'primary': (
    'default': (
      text: #ffffff,
      background: #007bff,
      border: #007bff
    ),
    'hover': (
      text: #ff0000,
      background: #007bff,
      border: #0062cc
    ),
    'active': (
      text: #ffff00,
      background: #0062cc,
      border: #000
    )
  ),
  'secondary': (
    'default': (
      text: #111,
      background: #ddd,
      border: #999
    ),
    'hover': (
      text: #ff0000,
      background: #bbb,
      border: #666
    ),
    'active': (
      text: #ffff00,
      background: #999,
      border: #000
    )
  ),
  'own_btn': (
    'default': (
      text: #713814,
      background: #ffffff,
      border: #e2d300
    ),
    'hover': (
      text: #ffffff,
      background: #e3dd35,
      border: #76d100
    ),
    'active': (
      text: #313131,
      background: #fff3a4,
      border: #785620
    )
  )
);

.btn3 {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  text-decoration: none;
  @each $type, $option in $btn3-states {
    &.#{$type} {
      @each $state, $properties in $option {
        // 앞이
        $text-color: map-get($properties, 'text');
        $background-color: map-get($properties, 'background');
        $border-color: map-get($properties, 'border');
        @if ($state == 'default') {
          color: $text-color;
          background-color: $background-color;
          border-color: $border-color;
        } @else {
          &:#{$state} {
            color: $text-color;
            background-color: $background-color;
            border-color: $border-color;
          }
        }
      }
    }
  }
}

@for $i from 0 through 40 {
  .fz-#{$i} {
    font-size: $i * 0.1rem !important;
  }
}
@for $i from 1 through 9 {
  .fw-#{$i}00 {
    font-weight: $i * 100 !important;
  }
}
@for $i from 0 through 200 {
  .w-#{$i * 5} {
    width: $i * 0.5rem !important;
  }
}

//@while
$number-of-boxes: 10;
$opacity-step: math.div(1, $number-of-boxes);
$box-width: 100px;
$box-height: 100px;
.fade-box {
  width: $box-width;
  height: $box-height;
  display: inline-block;
  background-color: #007bff;
  margin-right: 10px;
}
$i: 1;
@while $i <= $number-of-boxes {
  .fade-#{$i} {
    opacity: $i * $opacity-step;
  }
  $i: $i + 1;
}

$min-font-size: 14px;
$max-font-size: 24px;
$min-width: 300px;
$max-width: 1200px;
$step: 100;
$j: $min-width;
@while $j <= $max-width {
  @media (min-width: $j) {
    $ratio: math.div(($j - $min-width), ($max-width - $min-width));
    $font-size: $min-font-size + $ratio * ($max-font-size - $min-font-size);
    .font-box {
      font-size: $font-size;
    }
  }
  $j: $j + $step;
}
